body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    font-size: 18px;
    
    
  }

.header {
    
    display: flex;
    background: #1F2937;
    align-items: center;
    color: #f9faf8;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 30px;
    justify-content: space-between;

}



.H_par {
    font-size: 24px;    
    
    
    
}

.H_link {
    display: flex;
    margin-left: auto;
    font-size: 18px;
    gap: 10px;
          
}



.first_bar {
    
    background: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    padding: 0px 15% 40px 15%;

}
.left_par{
    width: 50%;
    padding: 0px 5% 0px 0px;
}

.B1_par_1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    padding-bottom: 5px;
}

.B1_par_2 {
    padding-bottom: 5px;
}

.B1_button {
    display: flex;
    justify-content: center;
    width: 20%;
    background: #0092ca;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.second_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15% 40px 15%;
    

}

.B2_par {
    color:#1F2937;
    font-weight: bold;
    font-size: 24px;
}

.B2_cards_table {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    
    
}

.B2_card_top {
    
    border-radius: 20px;
    border: 4px #0092ca;
    border-style: solid;
    padding: 80px 80px 80px 80px;
    
}

.B2_card_bottom {
    padding-top: 10px;
    width: 160px;
}



.right_par {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: lightslategrey;
}


a, a:visited {
    text-decoration: none;
        
}

.third_bar {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    
    padding: 0px 20% 40px 20%;

}

.B3_par_1{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;

}

.B3_par_2{
    font-weight: bold;
    margin-left: auto;
}

.fourth_bar {
    background:#0092ca;
    margin: 40px 15% 40px 15%; 
    display: flex;
    border-radius: 7px;
    color: white;
    padding:  30px 50px 30px 50px;
    justify-content: space-between;
        
}


.B4_par {

}

.B4_par_1 {
    font-size: 24px;
    font-weight: bold;

}

.B4_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 3px white;
    border-style: solid;
    border-radius: 7px;
    font-weight: bold;
    padding:  5px 30px 5px 30px;

}