body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    
  }

.header {
    
    display: flex;
    background: #1F2937;
    align-items: center;
    color: #f9faf8;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 30px;
    justify-content: space-between;

}



.H_par {
    font-size: 24px;    
    
    
    
}

.H_link {
    margin-left: auto;
    font-size: 18px;
          
}



.first-bar {
    
    background: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    padding: 0px 15% 0px 15%;

}
.left_par{
    width: 50%;
    padding: 0px 5% 0px 0px;
}

.B1_par_1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.B2_par {
    color:#1F2937;
    font-weight: bold;
}

.right_par {
    width: 50%;
    display: flex;
    align-items: center;

    background: lightslategrey;
}


a, a:visited {
    text-decoration: none;
        
}

.third-bar {
    background-color: #E5E7EB;
}

.B3_par_1{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;

}

.B3_par_2{
    font-weight: bold;
}